.mainHeaderContainer{
    margin-top: -2vh;
    color: #141414;
    width: 100vw;
    background-color: #fff;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    align-items: center;
}
.userManagmentContainer{
    margin-right: 1rem;
}
.img{
    height: 7vh;
}