.mainContainer{
    background-color: #7F7B82;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.infoContainer{
    width: 90%;
    display: flex;
    flex-direction: row;
}
.buttonsContainer{
    width: 10%;
    gap: .6rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
}